<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Flight Price Prediction</title>


    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- css -->
    <link rel="stylesheet" href="static/css/styles.css">


</head>

<body>

    <!-- As a heading -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">LOAN DEFAULT PREDICTION</a>
            </div>
        </div>
    </nav>

    <br><br><br>


    <div class="container">



        <form action="\predict" method="post">


            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Loan Amount</h5>
                            <!-- Departure -->
                            <input name="LoanAmount" id="LoanAmount" required="required">
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Loan Term (Months)</h5>
                            <!-- Arrival -->
                            <input name="LoanTerm" id="LoanTerm" required="required">
                        </div>
                    </div>
                </div>
            </div>

            <br>
             <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Payment To Income Percentage</h5>
                            <!-- Departure -->
                            <input name="paymentToIncomePercentage" id="paymentToIncomePercentage" required="required">
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Interest Rate</h5>
                            <!-- Arrival -->
                            <input name="InterestRatePercentage" id="InterestRatePercentage" required="required">
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Vehicle Manufacturer Name</h5>
                            <!-- Departure -->
                            <select name="vehicleManufacturerName" id="vehicleManufacturerName" required="required">
                                <option value="ALFAROMEO">ALFAROMEO</option>
                                <option value="AUDI">AUDI</option>
                                <option value="BENTLEY">BENTLEY</option>
                                <option value="BMW">BMW</option>
                                <option value="BUICK">BUICK</option>
                                <option value="CADILLAC">CADILLAC</option>
                                <option value="CHEVROLET">CHEVROLET</option>
                                <option value="CHRYSLER">CHRYSLER</option>
                                <option value="DODGE">DODGE</option>
                                <option value="FIAT">FIAT</option>
                                <option value="FORD">FORD</option>
                                <option value="GENESIS">GENESIS</option>
                                <option value="GMC">GMC</option>
                                <option value="HONDA">HONDA</option>
                                <option value="HUMMER">HUMMER</option>
                                <option value="HYUNDAI">HYUNDAI</option>
                                <option value="INFINITI">INFINITI</option>
                                <option value="JAGUAR">JAGUAR</option>
                                <option value="JEEP">JEEP</option>
                                <option value="KIA">KIA</option>
                                <option value="LANDROVER">LANDROVER</option>
                                <option value="LEXUS">LEXUS</option>
                                <option value="LINCOLN">LINCOLN</option>
                                <option value="MASERATI">MASERATI</option>
                                <option value="MAZDA">MAZDA</option>
                                <option value="MERCEDES-BENZ">MERCEDES-BENZ</option>
                                <option value="MERCURY">MERCURY</option>
                                <option value="MINI">MINI</option>
                                <option value="MITSUBISHI">MITSUBISHI</option>
                                <option value="NISSAN">NISSAN</option>
                                <option value="PONTIAC">PONTIAC</option>
                                <option value="PORSCHE">PORSCHE</option>
                                <option value="RAM">RAM</option>
                                <option value="SAAB">SAAB</option>
                                <option value="SATURN">SATURN</option>
                                <option value="SMART">SMART</option>
                                <option value="SUBARU">SUBARU</option>
                                <option value="SUZUKI">SUZUKI</option>
                                <option value="TESLA">TESLA</option>
                                <option value="TOYOTA">TOYOTA</option>
                                <option value="VOLKSWAGEN">VOLKSWAGEN</option>
                                <option value="VOLVO">VOLVO</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Vehicle New/Used</h5>
                            <!-- Arrival -->
                            <select name="vehicleNewUsedCodeM" id="vehicleNewUsedCodeM" required="required">
                                <option value="New">New</option>
                                <option value="Used">Used</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Vehicle Price</h5>
                            <!-- Departure -->
                            <input name="vehicleValueAmount" id="vehicleValueAmount" required="required">
                        </div>
                    </div>
                </div>
                <br>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Credit Score</h5>
                            <!-- Arrival -->
                            <input name="obligorCreditScore" id="obligorCreditScore" required="required">
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Vehicle Type</h5>
                            <!-- Airline -->
                            <select name="vehicleTypeCodeM" id="vehicleTypeCodeM" required="required">
                                <option value="Car">Car</option>
                                <option value="Suv">Suv</option>
                                <option value="Truck">Truck</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Vehicle Model Year</h5>
                            <!-- Arrival -->
                            <input name="vehicleModelYear" id="vehicleModelYear" required="required">
                        </div>
                    </div>
                </div>
            </div>

            <br>


            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h5 class="card-title">Underwriting</h5>
                            <select name="underwritingIndicator" id="underwritingIndicator" required="required">
                                <option value="True">True</option>
                                <option value="False">False</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Credit Score Type</h5>
                            <!-- Destination -->
                            <select name="obligorCreditScoreType" id="obligorCreditScoreType" required="required">
                                <option value="Credit Bureau Score">Credit Bureau Score</option>
                                <option value="None">None</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h5 class="card-title">Obligor Geographic Location</h5>
                            <select name="obligorGeographicLocation" id="obligorGeographicLocation" required="required">
                                <option value="AE">AE</option>
                                <option value="AK">AK</option>
                                <option value="AL">AL</option>
                                <option value="AP">AP</option>
                                <option value="AR">AR</option>
                                <option value="AZ">AZ</option>
                                <option value="CA">CA</option>
                                <option value="CO">CO</option>
                                <option value="CT">CT</option>
                                <option value="DC">DC</option>
                                <option value="DE">DE</option>
                                <option value="FL">FL</option>
                                <option value="GA">GA</option>
                                <option value="GU">GU</option>
                                <option value="HI">HI</option>
                                <option value="IA">IA</option>
                                <option value="ID">ID</option>
                                <option value="IL">IL</option>
                                <option value="IN">IN</option>
                                <option value="KS">KS</option>
                                <option value="KY">KY</option>
                                <option value="LA">LA</option>
                                <option value="MA">MA</option>
                                <option value="MD">MD</option>
                                <option value="ME">ME</option>
                                <option value="MI">MI</option>
                                <option value="MN">MN</option>
                                <option value="MO">MO</option>
                                <option value="MS">MS</option>
                                <option value="MT">MT</option>
                                <option value="NC">NC</option>
                                <option value="ND">ND</option>
                                <option value="NE">NE</option>
                                <option value="NH">NH</option>
                                <option value="NJ">NJ</option>
                                <option value="NM">NM</option>
                                <option value="NV">NV</option>
                                <option value="NY">NY</option>
                                <option value="OH">OH</option>
                                <option value="OK">OK</option>
                                <option value="OR">OR</option>
                                <option value="PA">PA</option>
                                <option value="PR">PR</option>
                                <option value="RI">RI</option>
                                <option value="SC">SC</option>
                                <option value="SD">SD</option>
                                <option value="TN">TN</option>
                                <option value="TX">TX</option>
                                <option value="UT">UT</option>
                                <option value="VA">VA</option>
                                <option value="VI">VI</option>
                                <option value="VT">VT</option>
                                <option value="WA">WA</option>
                                <option value="WI">WI</option>
                                <option value="WV">WV</option>
                                <option value="WY">WY</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Vehicle Price Source</h5>
                            <!-- Arrival -->
                            <select name="vehicleValueSourceCodeM" id="vehicleValueSourceCodeM" required="required">
                                <option value="Invoice Price">Invoice Price</option>
                                <option value="Kelly Blue Book">Kelly Blue Book</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h5 class="card-title">Co-Obligor</h5>
                            <select name="coObligorIndicator" id="coObligorIndicator" required="required">
                                <option value="True">True</option>
                                <option value="False">False</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Obligor Employment Verification</h5>
                            <!-- Total Stops -->
                            <select name="obligorEmploymentVerificationCodeM" required="required">
                                <option value="Stated Not Verified">Stated Not Verified</option>
                                <option value="Stated Level 3 Verified">Stated Level 3 Verified</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Obligor Income Verification Level</h5>
                            <!-- Total Stops -->
                            <select name="obligorIncomeVerificationLevelCodeM" required="required">
                                <option value="Stated Not Verified">Stated Not Verified</option>
                                <option value="Not Stated Not Verified">Not Stated Not Verified</option>
                                <option value="Stated Verified But Not to Level 4 or Level 5">Stated Verified But Not to Level 4 or Level 5</option>
                            </select>
                        </div>
                    </div>
                </div>
                
            </div>


            <br>
            <!-- Submit -->
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>

        <br>
        <br>
        <h3>{{ prediction_text }}</h3>

        <br>
        <br>
        <p>©2021 Ranjith Panicker</p>

    </div>




    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>
